* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Fredoka One', cursive;
  font-style: normal;
font-weight: normal;
font-size: 57.33px;
line-height: 120.5%;
color: #0F0101;
opacity: 0.9;
}
h3 {
  font-family: "Hind Madurai", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 36px;
color: #000000;
}
h5 {
  font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.1em;
color: #0F0101;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header p {
  font-family:"Hind Madurai", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #0F0101;
opacity: 0.6;
  margin-top: 35px;
  margin-bottom:30px;
}
p {
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
opacity: 0.7;  
}
.pink {
  font-family: "Fredoka One", cursive;
font-style: normal;
font-weight: normal;
font-size: 57.33px;
line-height: 120.5%;
color: #D23166;
opacity: 0.9;
}
nav ul {
  font-family: Roboto, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 18px;
}
ul {
  font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
  }
.back {
 background-color: #F2CEDA; 
}
button {
  background-color: #D23166;
  border-radius: 5px;
  color: #FAFAFA;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border: none;
  width: 165px;
  padding-top: 13px;
  padding-bottom: 19px;
}
nav ul {
  margin:0;
  padding: 0;
  list-style-type: none;
  padding-top: 42px;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 210px;
}
nav ul li a {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #150101;
text-decoration: none;
}
nav ul li a:hover {
  font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #D23166;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
 
}
.predl {
font-size: 14px;
line-height: 16px;
color: #150101;

}
.our li a {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
text-decoration: none;
  opacity: 0.6;
}
.our li a:hover {
  text-decoration: underline;
}
nav {
display: flex; 
  align-items: flex-start;
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
.button1 {
margin-top: 25px;
}
.flex {
  display: flex;
   max-width: 1272px;
  margin-left: auto;
   margin-right: auto;
}
.left {
 flex-basis: 862px; 
 padding-top: 150px;
}
.pic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
